.margin-10 {
  margin-right: 10px; }

dl dt {
  margin-bottom: 10px; }
dl dd {
  margin-bottom: 20px;
  font-size: 1rem; }

.wide-modal {
  width: 85%; }

#editor {
  position: relative;
  height: 250px;
  font-size: 2em;
  box-shadow: 0 0 10px #aaa;
  border: 1px #aaa solid;
  padding: 20px;
  margin-top: 25px; }

#output {
  position: relative;
  min-height: 50px;
  font-size: 14px;
  font-family: monospace;
  line-height: 1.2em;
  margin-top: 20px; }

.lr-padded-50 {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px; }

.feature {
  min-height: 150px !important;
  line-height: 250px !important;
  width: 250px;
  border-radius: 50px;
  background: #fff8e1;
  padding: 30px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.inb {
  display: inline-block; }

#quine-div {
  width: 100%;
  height: 600px;
  overflow: scroll; }
  #quine-div pre {
    width: 100%;
    font-size: 1rem !important; }

::-webkit-scrollbar {
  width: 8px;
  background: #eee; }

::-webkit-scrollbar-track {
  width: 8px;
  background: #eee; }

::-webkit-scrollbar-thumb {
  width: 8px;
  background: #aaa; }
